.sidebaroption{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 17px;
}
.sidebaroption:hover{
    background-color: rgb(228, 227, 227);
    width: 90%;
    border-radius: 40px;

}
.sidebaroption > .icons-option{
    padding: 15px;
    color: #888888;
}
.sidebaroption > h2{
    font-weight: 800px;
    font-size: 18px;
    margin-right: 20px;
    color: #888888;
    font-family: Roboto,sans-serif;
}
.sidebaroption--active{
    color: var(--koo-active);
}
.sidebaroption>img{
    width: 55px;
}