#back-to-feed{
    display:flex;
    justify-content:space-around;
    margin-top:18px;
    margin-bottom:18px;
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 0px;
} 

.all-queries{
   
    color:white;
    font-weight:500;
    padding: 1% 5% 0 8%;
}




.copy{
    background-color:black;
    width:100%;
    height:40px;
    color:grey;
    text-align:center;
    line-height: 35px;
}

.all-queries{
    border:1px solid grey;
    background-color:#90A4AE;
    width:100%;
    height:50px;
    margin-top:300px;
}
.matter{
    width: 70%;
    margin:auto;
    border:2px solid #90A4AE;
    border-style:dotted;
    border-radius:20px;
    padding:15px;
    margin-top:3%;
    
}
.matter>div{
    text-align:center;
    padding: 3% 4% 0 4%;
    font-size:15px;
    color:black;

}

.about-us{
    width:100%;
    height:250px;
    text-align:center;
    background-color:#90A4AE;
    color:white;
    font-weight: 700;
    font-size: 50px;
    vertical-align: middle;
    line-height: 220px;
}



.icon{
    height:40px;
    position:relative;
    right:100px;
    cursor: pointer;
}
.btn{
    border:2px solid black;
    border-radius:30px;
}