#feedcont {
  max-width: 850px;
}
.profilehead1 {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-left: 3%;
  margin-top: 5%;
}
.profilehead1 > div {
  display: flex;
}
.profilehead1 > div > h1 {
  font-size: 18px;
  font-weight: 600;
}
.profilehead1img {
  width: 22px;
  margin-right: 12px;
}
.logo {
  width: 20px;
}

.profilehead2 {
  background-color: #fdfdfd;
  width: 94%;
  margin-left: 3%;
  border: 1px solid #e0e0e0;
  margin-top: 15px;
  border-radius: 12px;
}
.profilehead21 > img {
  padding: 15px;
  width: 20%;
}
.profilehead21 > button {
  height: 25px;
  width: 90px;
  border-radius: 12px;
  color: white;
  margin-top: 3.5%;
  font-weight: 600;
  background-color: #809b9d;
  margin-left: 12px;
}
.profilehead2 > h1 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 18px;
}
.profilehead2 > h2 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
}
.profilehead2 > p {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 18px;
}
.profilehead22 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 20px;
}
.profilehead22 > img {
  width: 18px;
}
.profilehead23 {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 20px;
  justify-content: space-around;
  display: flex;
}
.profilehead3 {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-left: 3%;
  margin-top: 3%;
}
.profilehead3 > div {
  display: flex;
}
.profilehead3 > div > img {
  width: 25px;
}
.profilehead3 > div > h3 {
  font-size: 16px;
  margin-top: 2px;
  margin-left: 10px;
}
.following {
  margin-left: -15px;
}
.user_info {
  margin-left: 5%;
  width: 90%;
}
.user_info > form > button {
  margin-left: 40%;
  padding: 7px;
  border-radius: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
